@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}
body{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
flex-direction: column;
    overflow: hidden;
}
.magic{
    font-family: 'Poppons',sans-serif;
    background-color:#f9ca24;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    padding: 12px 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 0 3px rgba(249,203,36,0.5);
    z-index: 1000;
}
.magic:active{
    box-shadow: none;
    transform: translateY(2px);
}
.boxes{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 500px;
height: 500px;
position: relative;
top: 40px;
/* transition: 0.4s ease; */
}
.boxes.big{
    height: 600px;
    width: 600px;
}
.boxes.big .box{
    transform: rotate(360deg);
}
.box{
    background-image: url('https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif');
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
    height: 125px;
    width: 125px;
    transition: 0.5s ease;
}
.box::after{
    content: '';
    position: absolute;
    background-color: #f6e58d;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}
.box::before{
    content: '';
    position: absolute;
    background-color: #f9ca24;
    left: 8px;
   bottom: -15px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}